# Don't warn about the platforms not being found - they aren't available
# everywhere, by design. Platforms are loaded dynamically at runtime.
-dontwarn com.google.common.flogger.backend.system.DefaultPlatform*
-dontwarn sun.misc.SharedSecrets
-dontwarn sun.misc.JavaLangAccess
-dontwarn java.lang.StackWalker*
# This is here for the dropWhile method call in StackWalkerStackGetter but it's
# not possible to filter for methods only.
-dontwarn java.util.stream.Stream
