name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    name: "JDK ${{ matrix.java }}"
    strategy:
      matrix:
        java: [8, 11, 22]
    runs-on: ubuntu-latest
    steps:
      # Cancel any previous runs for the same branch that are still running.
      - name: 'Cancel previous runs'
        uses: styfle/cancel-workflow-action@3155a141048f8f89c06b4cdae32e7853e97536bc # 0.13.0
        with:
          access_token: ${{ github.token }}
      - name: 'Check out repository'
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: 'Cache Bazel dependencies'
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ~/.cache/bazel/*/*/external
          key: bazel-${{ hashFiles('MODULE.bazel') }}
          restore-keys: |
            bazel-
      - name: 'Set up JDK ${{ matrix.java }}'
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
      - name: 'Test'
        shell: bash
        run: bazelisk test --lockfile_mode=error --test_output=errors //...
      - name: 'Test Deploy Script'
        if: matrix.java == 22
        shell: bash
        run: release/install-local-snapshot.sh
